{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ]
    ],
    "plugins": [
        ["module-resolver", {
            "root": ["/"],
            "alias": {
                "Pageobjects": "./test/pageobjects/"
            }   
        }]
    ]
}