# OS Specific
######################
.DS_Store

# Intellij
######################
.idea/
*.iml

# Eclipse
######################
.project
.settings
.classpath
bin/
.factorypath

# NetBeans
######################
nbactions.xml
nb-configuration.xml
catalog.xml
nbproject/

# VSCode
######################
.vscode

# Compiled source
######################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Logs
######################
*.log

# Nodejs
######################
node_modules/

# Папка с отчётами
test/*reports
!reports/.gitkeep
./reports


./allure-report
.env
